* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --backgroundColor: #313131;
  --forgroundColor: #ffffff;
  --totalDuration: 2s;
  --typingDuration: 15s;
}
body {
  background: var(--backgroundColor);
  display: flex;
  align-items: center;
}
main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -2rem;
}

/* First section */
.heading__cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  font-family: "Lobster", cursive;
  color: var(--forgroundColor);
  font-size: 2.2em;
  opacity: 0;
  animation: heading 1s ease-in var(--totalDuration) forwards;
}
@keyframes heading {
  0% {
    transform: scale(2);
    opacity: 0;
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.subheading {
  display: flex;
  flex-direction: row;
  opacity: 0;
  animation: subheading 0.5s ease calc(var(--totalDuration) + 1s) forwards;
}
@keyframes subheading {
  to {
    opacity: 1;
  }
}
.subheading__prefix {
  font-family: "open sans";
  font-size: 1.4rem;
  color: var(--forgroundColor);
}
.subheading__skill__cont {
  flex: 1;
  position: relative;
  display: flex;
}
.subheading__skill {
  font-family: "open sans";
  color: var(--forgroundColor);
  font-size: 1.4rem;
  width: max-content;
  position: absolute;
  top: 0;
  opacity: 0;
}
.subheading__skill:nth-child(2) {
  position: relative;
}
.subheading__skill:nth-child(1) {
  animation: type-skill-1 var(--typingDuration)
      calc(var(--totalDuration) + 1.5s) forwards infinite,
    keep-left-0 1s infinite;
}
.subheading__skill:nth-child(2) {
  animation: type-skill-2 var(--typingDuration)
      calc(var(--totalDuration) + 1.5s) forwards infinite,
    keep-left-0 1s infinite;
}
.subheading__skill:nth-child(3) {
  animation: type-skill-3 var(--typingDuration)
      calc(var(--totalDuration) + 1.5s) forwards infinite,
    keep-left-0 1s infinite;
}
@keyframes keep-left-0 {
  from {
    left: 0%;
  }
  to {
    left: 0%;
  }
}
.subheading__skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--backgroundColor);
  left: 0;
  z-index: 1;
}
.subheading__skill::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  background: var(--forgroundColor);
  left: 0;
  z-index: 2;
}
.subheading__skill:nth-child(1):before {
  animation: type-skill-1 var(--typingDuration)
    calc(var(--totalDuration) + 1.5s) steps(17) forwards infinite;
}
.subheading__skill:nth-child(1):after {
  animation: blink 750ms ease infinite,
    type-skill-1 var(--typingDuration) calc(var(--totalDuration) + 1.5s)
      steps(17) forwards infinite;
}
.subheading__skill:nth-child(2):before {
  animation: type-skill-2 var(--typingDuration)
    calc(var(--totalDuration) + 1.5s) steps(19) forwards infinite;
}
.subheading__skill:nth-child(2):after {
  animation: blink 750ms ease infinite,
    type-skill-2 var(--typingDuration) calc(var(--totalDuration) + 1.5s)
      steps(19) forwards infinite;
}
.subheading__skill:nth-child(3):before {
  animation: type-skill-3 var(--typingDuration)
    calc(var(--totalDuration) + 1.5s) steps(13) forwards infinite;
}
.subheading__skill:nth-child(3):after {
  animation: blink 750ms ease infinite,
    type-skill-3 var(--typingDuration) calc(var(--totalDuration) + 1.5s)
      steps(13) forwards infinite;
}

@keyframes type-skill-1 {
  0% {
    left: 0%;
    opacity: 0;
  }
  0.1% {
    opacity: 1;
  }
  10% {
    left: 100%;
  }
  23% {
    left: 100%;
  }
  32.9% {
    opacity: 1;
  }
  33% {
    left: 0%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
@keyframes type-skill-2 {
  0% {
    left: 0%;
    opacity: 0;
  }
  33% {
    left: 0%;
    opacity: 0;
  }
  33.1% {
    opacity: 1;
  }
  43% {
    left: 100%;
  }
  56% {
    left: 100%;
  }
  65.9% {
    opacity: 1;
  }
  66% {
    left: 0%;
    opacity: 0;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
@keyframes type-skill-3 {
  0% {
    left: 0%;
    opacity: 0;
  }
  66% {
    left: 0%;
    opacity: 0;
  }
  66.1% {
    opacity: 1;
  }
  76% {
    left: 100%;
  }
  90% {
    left: 100%;
  }
  99.9% {
    opacity: 1;
  }
  100% {
    left: 0%;
    opacity: 0;
  }
}
@keyframes blink {
  to {
    background: transparent;
  }
}

/* About section */
section#about {
  padding: 10px;
  align-items: flex-start;
  justify-content: space-around;
}
.about__heading {
  font: 4rem "Lobster", cursive;
  color: var(--forgroundColor);
  opacity: 0.8;
  transform: translateY(40%) translateX(-10px);
  position: relative;
  z-index: 1;
  text-align: right;
}
.about__info__cont {
  position: relative;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #313131aa;
  z-index: 2;
  border: 1px solid var(--forgroundColor);
  border-radius: 10px;
  color: var(--forgroundColor);
}
.about__info {
  text-align: justify;
  font-family: "open sans";
}
.about__info a {
  all: initial;
  color: var(--forgroundColor);
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
}
.about__heading.skills {
  transform: translateY(40%) translateX(10px);
  text-align: left;
  align-self: flex-start;
}
.skills__cont {
  position: relative;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #313131aa;
  z-index: 2;
  border: 1px solid var(--forgroundColor);
  border-radius: 10px;
  color: var(--forgroundColor);
  width: calc(100vw - 20px);
}
.skill__cont {
  margin-bottom: 10px;
  width: 100%;
}
.skill__label {
  color: var(--forgroundColor);
  font-family: "open sans";
  margin-bottom: 2px;
}
.skill__bar {
  position: relative;
  display: flex;
  align-items: center;
  height: 12px;
  border-radius: 5px;
  border: 1px solid var(--forgroundColor);
  width: 90%;
}
.skill__bar::before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 100%;
  margin: 0;
  background: var(--forgroundColor);
  border-radius: 5px;
  z-index: 1;
  animation: skill-bar 1.5s 5s ease-in-out forwards;
}
@keyframes skill-bar {
  0% {
    right: 100%;
  }
  100% {
    right: calc(100% - var(--level));
  }
}
.skill__bar::after {
  content: var(--levels);
  color: var(--forgroundColor);
  position: absolute;
  left: 100%;
  margin-left: 5px;
  z-index: 10;
}
.more__skills {
  all: initial;
  color: var(--forgroundColor);
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
}
